ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.dropdown-btn {
  border: none;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  padding: 7px;
}

.dropdown {
  position: relative;
}

.dropdown-items {
  position: absolute;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  height: 400px;
  overflow-y: scroll;
}

.dropdown-item:hover {
  background-color: #d3d3d3;
  cursor: pointer;
}

.dropdown-title {
  padding: 7px;
}

.dropdown-wrapper {
  font-size: 24px;
}

.search-items {
  padding: 15px;
  box-sizing: border-box;
}

.card {

}

.search-item {
  max-width: 345px;
  min-width: 120px;
}

.item-image {
  width: 100%;
  min-height: 200px;
}