ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.dropdown-btn {
  border: none;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  padding: 7px;
}

.dropdown {
  position: relative;
}

.dropdown-items {
  position: absolute;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  height: 400px;
  overflow-y: scroll;
}

.dropdown-item:hover {
  background-color: #d3d3d3;
  cursor: pointer;
}

.dropdown-title {
  padding: 7px;
}

.dropdown-wrapper {
  font-size: 24px;
}

.search-items {
  position: relative;
  padding: 15px;
  box-sizing: border-box;
}

.card {

}

.search-items .search-item {
  max-width: 345px;
  min-width: 150px;
  margin-bottom: 20px;
  text-decoration: none;
}

.search-item-hover {
  position: absolute;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0 15px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.search-items .search-item:hover .search-item-hover {
  visibility: visible;
}

.search-items .item-description {
  height: 0;
  padding-bottom: 100%;

}

.search-items .item-name {
  margin: 8px auto;
  color: black;
}

.item-image {
  width: 100%;
  min-height: 200px;
}