<div class="row justify-content-center dropdown-wrapper">
  <div class="dropdown-title">Bakery:</div> 
  <div class="dropdown" ngbDropdown>
    <button class=" dropdown-btn" ngbDropdownToggle>
      {{(selectedBakery$ | async) ? (selectedBakery$ | async).name : "Choose bakery"}}
    </button>
    <div class="dropdown-items" ngbDropdownMenu >
      <ul>
        <li *ngFor="let bakery of bakeries$ | async" class="dropdown-item" (click)="itemClick(bakery)">
          {{bakery.name}}
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div *ngIf="selectedBakery$ | async">CAKES IN {{(selectedBakery$ | async).name | uppercase}}:</div>
</div>

<div class="row search-items">
  <a *ngFor="let cake of selectedBakeryCakes$ | async" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 search-item pointer" routerLink="/customize-cake/{{cake.id}}">
    <div class="card">
      <div class="item-description">
        <img class="item-image" src={{cake.imageUrl}}/>
      </div>
      <div class="item-name">
        <span class="ellipsis">{{cake.name}}</span>
      </div>
    </div>

    <div class="search-item-hover rounded">
      
    </div>
  </a>
</div>

