.cake-builder {
  width: 80%;
  margin: 15px auto 0;
  box-shadow: 0 0 6px 0 #dedede;
  background-color: white;
}

.cake-info {
  border-bottom: 1px solid #dedede;
}

.cake-info-conteiner {
  height: 295px;
  display: table;
}

.cake-name {
  padding: 0;
}

.cake-builder-sections {

}

.cake-image-container {
  margin-left: -15px;
}

.vendor-name {
  color: #5faea7;
  margin-top: -7px;
}

.btn-link {
  padding-left: 0;
}

.build-section {
  border-bottom: 1px solid #dedede;
  font-size: 18px;
  padding: 30px 25px;
  margin-right: 0;
  margin-left: 0;
}

.build-section-header {
  padding: 0 10px 0 15px;
  position: relative;
  line-height: 38px;
  left: -15px;
}

.build-section-header__active {
    background: #eb7e4a;
    border-radius: 3px;
    color: white;
}

.build-section-header__active::after {
    content: '';
    position: absolute;
    top: 0;
    right: -17px;
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-bottom: 19px solid transparent;
    border-left: 19px solid #eb7e4a;
}

.cake-info .cake-details {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}

.cake-info .cake-details .description {
  margin-bottom: 25px;
}


.cake-sizes-item {
  cursor: pointer;
  display: inline-block;
  width: 60px;
  margin-right: 15px;
  margin-bottom: 8px;
}

.cake-sizes-item__active {

}

.cake-sizes-item .description {
  font-size: 12px;
  text-align: center;
  margin-bottom: 3px;
}

.figure {
  border-radius: 2px;
  padding: 15px;
}

.figure .name {
  margin: auto 0;
  color: white;
  text-align: center;
}

.cake-sizes-item .figure {
  height: 60px;
  width: 60px;
}

.cake-filling-item {
  display: inline-block;
  margin-bottom: 3px;
  padding: 5px;
  border-radius: 2px;
  cursor: pointer;
  float: left;
  clear: both;
}

.cake-filling-item .name {
  color: white;
}

.result-content {
  margin-left: 15px;
}

.total_price {
  margin-bottom: 10px;
}

.btn-add {
  border: 0;
  background: #eb7e4a;
  font-size: 18px;
  box-shadow: 0 0 0;
}